<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel = "stylesheet" href = "css/style.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<div th:replace="~{fragments/header :: header}"></div>
gd
<div th:replace= "~{templates/fragments/exheader :: header}"></div>


<div th:replace= "fragments/exheader :: header"></div>


<div th:replace = "fragments/exheader.html :: header"></div>


<div th:replace = "static/fragments/exheader :: header2"></div>


<div th:replace = "fragments/exheader :: header3"></div>

<header th:replace ="fragments/exheader :: header3"></header>

</body>
</html>