@charset "UTF-8";



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0; 
  
  }


a {
	text-decoration: none;
  color: white;
  transition: all .3s ease-in-out; }

a:focus,
button:focus {
  outline: none; }

.btn:hover,
a:hover {
  text-decoration: none;
  color: pink; }

.a-title{
	font-size: 30px; 
	color: white;
}

.a-mainselect{
	color: black;
}

.sidebar {
height: 255%;
width: 270px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: black;
}

.sidebar-contact {
height: 100%;
width: 270px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: black;
}

.sidebar div {
padding: 8px;
font-size: 15px;
display: block;
margin-left: 10px;
margin-right: 10px;
}


.sidebar-contact div {
padding: 8px;
font-size: 15px;
display: block;
margin-left: 10px;
margin-right: 10px;
}

.body-title {
margin-left: 270px;
font-size: 18px;
}

.body-contact{
	font-size: 15px;
}

.body-text {
margin-left: 1300px;
font-size: 18px;
}

.body-index{
	margin-left: 270px;
}


<!-- 메인화면 슬라이드

.slider{
    position: relative;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}


.slider input[type=radio]{
    display: none;
}


ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none; 
    position: absolute;
}
ul.imgs li{
    position: absolute;
    left: 800px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
    padding: 0;
}

img.main {
	width: 1000px;
	height: 750px;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}

.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color:black;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color:black;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color:black;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color:black;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}


.text_content{
	margin-left: 650px;
}


